# Files
.env
.DS_Store
.idea

# Folders
/.cache
/.vscode
/build
/coverage
/dist
/node_modules
/tsconfig.tsbuildinfo
/uploads

!src/**

# Lock Files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Database
medusa-db.sql